html, body {
    margin: 0;
    box-sizing: border-box;
}
main {
    max-width: 1200px;
    line-height: 1.4;
    padding: 1rem;
    margin: 0 auto;
}
h1 {
    margin: 0;
}
li {
    margin: 1.5rem 0.5rem;
    max-width: 500px;
}
li p {
    margin-top: 0.5rem;
}
p {
    margin: 1rem 0;
}